/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/** Your CSS Below **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:var(--fs-base);
}

body {
  background-color:var(--clr-paleBlue);
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 730px;
  height: 500px;
}

.result {
  width: 368px;
  height: 512px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  color:var(--clr-white);
  border-radius: 20px;
  z-index: 1;
}

.title {
  padding-top: 2rem;
}

.circle {
  background: linear-gradient(hsl(256, 72%, 46%, 1),hsl(252, 100%, 67%));
  width: 200px;
  height: 200px;
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}

.numerator {
  color:var(--clr-white);
  font-size: 60px;
  font-weight: var(--fw-bold);
}

.denominator {
  font-size: var(--font-paragraph);
  color: var(--clr-white);
}

.great h3 {
  font-size: 35px;
  font-weight: var(-fw-regular);
  padding-bottom: 1rem;
}

.great p {
  font-size:var(--font-paragraph);
  color: var(--clr-lightLavender);
  padding-bottom: 1.5rem;
  font-weight: var(--fw-regular);
  margin: 0 auto;
  width: 70%;
  line-height: 1.5;
}

.summary {
  width: 370px;
  height: 510px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: var(--clr-white);
  margin-left: -12px;
}

.summary h2 {
  padding-top: 1.5rem;
  padding-left: 2.5rem;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pictures {
  display: flex;
  align-items: center;
}

.colorbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 2rem;
  width: 290px;
  height: 55px;
  border-radius: 10px;
}

.red {
  color: #dc7171;
  font-size: var(--font-paragraph);
  font-weight:var(--fw-bold);
}

#reaction {
  background-color: var(--clr-lightRed);
  margin-top: 1.2rem;
}

.yellow {
  color:var(--clr-orangeYellow);
  font-size: var(--font-paragraph);
  font-weight:var(--fw-bold);
}

#memory {
  background-color: #fdf3df;
}

.green {
  color:hsl(168, 45%, 53%);
  font-size: var(--font-paragraph);
  font-weight:var(--fw-bold);
}

#verbal {
  background-color: #e2f5ef;
}

.purple {
  color:var(--clr-cobaltBlue);
  font-size: var(--font-paragraph);
  font-weight:var(--fw-bold);
}

#visual {
  background-color: #eff0f9;
}

.light-number{
color:grey;
}

.dark-number{
  font-size: var(--font-paragraph);
  font-weight:var(--fw-bold);
}

.ctn{
  display: block;
  background:var(--clr-darkGrayBlue);
  border-radius: 30px;
  color: white;
  margin: 2rem 0rem;
  height: 55px;
  width: 290px;
  font-size: var(--font-paragraph);
  font-weight:var(--fw-bold);
}

@media screen and (max-width: 720px) {
  .summary-container {
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  #container {
    flex-direction: column;
    margin-top: 0rem;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
  }

  .result{
    height: auto;
    width: 100%;
    border-radius:20px;
  }

  .summary{
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin: 0 auto;
    margin-left: 0px;
  }

}

/** Attribution CSS **/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}